{% include '_header.twig' %}

<!-- 
	- html is classed using a modified BEM (Block, Element, Modifier) method
	- in general, the primary block class is listed first, with an element connected by a hyphen. modifier classes follow, each preceded by an underscore.
	- multi-word blocks, elements, or modifiers are written in camelCase
	- so, an active primary nav list element might look like "primaryNav-list-item _active" 
-->

<body class="home">
    <header>
    	<div class="home-splash">
    		<figure>
    			<!-- this will probably be an animated gif -->
	    		<!-- <img src="{{ assets.logo.splash }}" /> -->
    		</figure>
    		<h1 class="home-title">We’re building things in libraries.</h1>
    	</div>
    	{% include '_nav.twig' %}
	</header>


	<!-- about section -->
    <section class="container _about">
	    <h2 class="container-title">About</h2>
	    <div class="slice">
		    <h3 class="slice-hook">What’s the Library Innovation Lab?</h3>
		    <div class="slice-main">
			    <p>The Library Innovation Lab at Harvard University aims to bring the best of technology to the world of libraries and the best of libraries to the world of technology — to make the stable unstable and the unstable stable. And vice versa.</p>
			</div>
		</div>
		<a href="{{ paths.root }}about" role="button" aria-label="Learn more about who we are">Learn more about who we are</a>
    </section>
    
    <!-- projects section -->
    <section class="container _projects">
	    <h2 class="container-title">Projects</h2>
	    
		{# {% include 'lil-hero-slider.html' %} #}
	    
	    <div class="gallery">
	    	{% setcontent projects = 'projects' where {project_active: 1} %}
	    	{% for activeProject in projects %}
		    	<a class="gallery-item" href="{{ activeProject.link }}">
		    		<figure class="gallery-item-primaryImage">
	
		    			<!-- using srcset for reponsive density -->
			    		{# <img src="{{ activeProject.image.1x }}" srcset="{{ activeProject.image.1x }}, {{ activeProject.image.2x }} 2x, {{ activeProject.image.3x }} 3x" /> #}
		    		</figure>
		    		<strong class="gallery-item-title"><a href="{{activeProject.link }}">{{ activeProject.name }}</a></strong>
		    		<span class="gallery-item-logline">{{ activeProject.logline }}</span>
		    	</a>
	    	{% endfor %}
	    </div>
		<a href="{{ paths.root }}projects" role="button" aria-label="Browse all our active projects">Browse all our active projects</a>
    </section>
    
    <!-- sketches section -->
    <section class="container _sketches">
		<h2 class="container-title">Sketches</h2>
	    <div class="slice">
		    <h3 class="slice-hook">question</h3>
		    <div class="slice-main">
			    <p>answer</p>
			</div>
		</div>

		<!-- div.gallery can get an '_alt' modifier that puts it into circular mode --> 
	    <div class="gallery _alt">
	        {% setcontent sketches = 'sketches' %}
	    	{% for thisSketch in sketches %}
	    		{% set thisStatusFlag = "" %}
                {% if thisSketch.project_active %} 
                    {% set thisStatus = "active" %}
                {% else %} 
                    {% set thisStatus = "inactive" %} 
                    {% set thisStatusFlag = "_inactive" %}
                {% endif %}
				<!-- a.gallery-item can get an '_inactive' modifier that puts it into inactive mode --> 
		    	<a class="gallery-item {{ thisStausFlag }}" href="{{ thisSketch.link }}">
		    		<figure class="gallery-item-primaryImage">
	
		    			<!-- using srcset for reponsive density -->
			    		{# <img src="{{ thisSketch.image.1x }}" srcset="{{ thisSketch.image.1x }}, {{ thisSketch.image.2x }} 2x, {{ thisSketch.image.3x }} 3x" /> #}
		    		</figure>
		    		<strong class="item-title"><a href="{{ thisSketch.link }}">{{ thisSketch.name }}</a></strong>
		    		<ul class="item-specs">
			    		<li class="item-specs-logline">{{ thisSketch.logline }}</li>
			    		<li class="item-specs-date">{{ thisSketch.datecreated|date("F j, Y") }}</li>
			    		<li class="item-specs-status">{{ thisStatus }}</li>
		    		</ul>
		    	</a>
	    	{% endfor %}
		<a href="{{ paths.root }}sketches" role="button" aria-label="See everything we’re sketching">See everything we’re sketching</a>
	</section>
</body>
</html>