{% set vars = {respond: {'tabletWidth': 600, 'wideWidth': 1400}} %}
<div class="hero-slider">
    <nav class="slider-nav">
	    <a class="slider-nav-previous" href="{{ javascript.previous }}">Previous</a>
	    <a class="slider-nav-next" href="{{ javascript.next }}">Next</a>
    </nav>

	<div class="slider-frame">
	
		{# set this to display a single project for temporary layout purposes -dw #}
	    {% setcontent projects = 'projects/latest/1' orderby 'name' where {project_active: 1} %}
		{% for projectSlide in projects %}
		    <div class="slider-slide" id="###">
			    <strong class="slider-slide-title"><a href="{{ projectSlide.url }}">{{ projectSlide.name }}</a></strong>
			    <span class="slider-slide-description">{{ projectSlide.logline }}</span>

			    <!-- using <picture> element to art direct for wide/narrow screens -->
				<picture class="slider-slide-primaryImage">

					<!-- 16:9 for wide widths -->
					<source
						media="(min-width: {{ vars.respond.tabletWidth }}px)"
						srcset="{{ projectSlide.hero_image|thumbnail(800,450,'r') }} 800w,
				        	{{ projectSlide.hero_image|thumbnail(1200,675,'r') }} 1200w,
							{{ projectSlide.hero_image|thumbnail(1600,900,'r') }} 1600w" />

					<!-- square for narrow widths -->
					<source
						srcset="{{ projectSlide.hero_image_square|thumbnail(400,400,'r') }} 1x,
				        	{{ projectSlide.hero_image_square|thumbnail(800,800,'r') }} 2x" />
					<img
						src="{{ projectSlide.hero_image_square|thumbnail(400,400,'r') }}" 
						alt="{{ projectSlide.image.title }}" />
				</picture>
		    </div>
	    {% endfor %}
	</div>
</div>
