<nav role="navigation">
    <ul class="header-nav">
        <li class="header-nav-item _home">
        	<a href="{{ paths.root }}">
	        	<figure>
					{# <img src="{{ assets.navlogo.1x }}" srcset="{{ assets.navlogo.1x }}, {{ assets.navlogo.2x }} 2x, {{ assets.navlogo.3x }} 3x" /> #}
				</figure>
				Lab
        	</a>
		</li>
        {{ menu('main', '_sub_menu.twig') }}
    </ul>
</nav>
