{% extends "base.html" %}
{% set footerLogoName = 'tribal' %}
{% set vars = {respond: {'tabletWidth': 600, 'wideWidth': 1400}} %}

{% setcontent about = 'page/about' %}


{% block body_tag %}<body class="category _about">{% endblock %}
{% block pageTitle %} About | Library Innovation Lab {% endblock %}
{% block facebookImage %}{{ paths.hosturl }}{{ about.primary_image_square|thumbnail(800,800,'r') }}{% endblock %}
{% block content %}

    <header>
    	{% include '_nav.twig' %}
    </header>	
	
    <section class="container _intro">
	    <h1 class="intro-title">{{ about.title }}</h1>
	    <div class="slice">
		    <h3 class="slice-hook">What does the Library Innovation Lab do?</h3>
		    <div class="slice-main">
			    {{ about.logline }}
			</div>
		</div>
	    <div class="slice">
		    <h3 class="slice-hook">How can I get in touch with the Lab?</h3>
		    <div class="slice-main">
			    <div class="contact-intro">
			    	{{ about.contact_intro }}
			    </div>
		    	<h4 class="slice-ah">Contact us online</h4>
		    	<ul class="about-specs">
		    		<li class="about-specs-twitter">twitter: <a href="https://www.twitter.com/{{ about.twitter|replace({'@': ''})}}">{{ about.twitter }}</a></li>
		    		<li class="about-specs-github">github: <a href="https://www.github.com/{{ about.github}}">{{ about.github }}</a></li>
		    		<li class="about-specs-email">email: <a href="mailto:{{ about.email }}">{{ about.email }}</a></li>
		    	</ul>
		    	<h4 class="slice-ah">Contact us in person</h4>
		    	<ul class="about-address">
		    		<li class="about-address-name">{{ about.addressname }}</li>
		    		<li class="about-address-street">{{ about.addressstreet1 }}</li>
		    		<li class="about-address-street">{{ about.addressstreet2 }}</li>
		    		<li class="about-address-citystate">{{ about.addresscity }}, {{ about.addressstate }} {{ about.addresszip }}</li>
		    		<li class="about-specs-phone">phone: {{ about.phone }}</li>
		    	</ul>
			</div>
		</div>
    </section>

    <section class="container">
	    <div class="project-hero">
			<picture class="slider-slide-primaryImage">
	
				<!-- 16:9 for wide widths -->
				<source
					media="(min-width: {{ vars.respond.tabletWidth }}px)"
					srcset="{{ about.primary_image|thumbnail(800,450,'r') }} 800w,
			        	{{ about.primary_image|thumbnail(1200,675,'r') }} 1200w,
						{{ about.primary_image|thumbnail(1600,900,'r') }} 1600w" />
	
				<!-- square for narrow widths -->
				<source
					srcset="{{ about.primary_image_square|thumbnail(400,400,'r') }} 1x,
			        	{{ about.primary_image_square|thumbnail(800,800,'r') }} 2x" />
				<img
					src="{{ about.primary_image_square|thumbnail(400,400,'r') }}" 
					alt="{{ project.image.title }}" />
			</picture>
	    </div>

	    <div class="slice">
		    <h3 class="slice-hook">What’s our story?</h3>
		    <div class="slice-main">
			    {{ about.history }}
			</div>
		</div>
    </section>

    <section class="container _people">
	    <div class="headers">
			<h2 class="container-title">Who we are</h2>
			<p class="container-subtitle">The people at the Library Lab.</p>
	    </div>
    	<div class="gallery _listing">
	        {% setcontent activePeople = 'people' where {active: '1'} orderby 'sort_name' %}
		    {% for person in activePeople %}
		    	<div class="contributor" id="{{ person.slug }}">
		    		<figure class="contributor-primaryImage">
		    			<img src="{{ person.image|thumbnail(216,216) }}" srcset="{{ person.image|thumbnail(216,216) }}, {{ person.image|thumbnail(432,432) }} 2x, {{ person.image|thumbnail(648,648) }} 3x" alt="{{ person.name }}" />
		    		</figure>
		    		<div class="contributor-info">
		    			<strong class="contributor-name">{{ person.name }}</strong>
		    			<span class="contributor-role">{{ person.role }}</span>
		    			<div class="contributor-description">
							{{person.description}}
		    			</div>
		    			{% if person.email|length or person.website|length or person.twitter|length or person.github|length %}
			    			<ul class="person-specs">
				    			{% if person.email|length %}
				    				<li class="person-specs-email">email: <a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
			    				{% endif %}
				    			{% if person.website|length %}
				    				<li class="person-specs-website">website: <a href="{{ person.website|replace({'http://': ''})}}">{{ person.website }}</a></li>
			    				{% endif %}
				    			{% if person.twitter|length %}
				    				<li class="person-specs-twitter">twitter: <a href="https://www.twitter.com/{{ person.twitter|replace({'@': ''})}}">{{ person.twitter }}</a></li>
			    				{% endif %}
				    			{% if person.github|length %}
				    				<li class="person-specs-github">github: <a href="https://www.github.com/{{ person.github}}">{{ person.github }}</a></li>
			    				{% endif %}
			    			</ul>
			    		{% endif %}
		    		</div>
		    	</div>
		    {% endfor %}
		</div>
    </section>

    <section class="container _collaborators">
	    <div class="headers">
			<h2 class="container-title">Collaborators</h2>
			<p class="container-subtitle">Friends and fellow travelers.</p>
	    </div>
		<div class="collaborators">
	        {% setcontent oldFriends = 'people' where {active: '0'}  orderby 'sort_name' %}
		    {% for person in oldFriends %}
		    	<div class="collaborator" id="{{ person.slug }}">
		    		<div class="collaborator-info">
		    			<strong class="collaborator-name">{{ person.name }}</strong>
		    			<span class="collaborator-role">{{ person.role }}</span>
		    		</div>
		    			{% if person.website|length or person.twitter|length or person.github|length %}
			    			<ul class="collaborator-specs">
				    			{% if person.website|length %}
				    				<li class="collaborator-specs-website"><a href="{{ person.website|replace({'http://': ''})}}">{{ person.website }}</a></li>
			    				{% endif %}
				    			{% if person.twitter|length %}
				    				<li class="collaborator-specs-twitter"><a href="https://www.twitter.com/{{ person.twitter|replace({'@': ''})}}">{{ person.twitter }}</a></li>
			    				{% endif %}
				    			{% if person.github|length %}
				    				<li class="collaborator-specs-github"><a href="https://www.github.com/{{ person.github}}">{{ person.github }}</a></li>
			    				{% endif %}
			    			</ul>
			    		{% endif %}
		    	</div>
		    {% endfor %}
	{#
	        {% setcontent collaborators = 'collaborators' %}
		    {% for collaborator in collaborators %}
		    	<div class="collaborator">
	    			<strong class="collaborator-name">{{ collaborator.name }}</strong>
	    			<span class="collaborator-role">{{ collaborator.role }}</span>
	    			<ul class="collaborator-specs">
	    				<li class="collaborator-specs-website"><a href="{{ collaborator.website|replace('http://': '')}}">{{ collaborator.website }}</a></li>
	    				<li class="collaborator-specs-twitter"><a href="https://www.twitter.com/{{ collaborator.twitter|replace('@': '')}}">{{ collaborator.twitter }}</a></li>
	    				<li class="collaborator-specs-github"><a href="https://www.github.com/{{ collaborator.github}}">{{ collaborator.github }}</a></li>
	    			</ul>
		    	</div>
		    {% endfor %}
		</div>
    #}
    </section>

{% endblock %}
