{% extends "base.html" %}
{% set footerLogoName = 'alpine' %}

{% block extra_styles %}{# <link href="{{ paths.theme }}css/homepage.css" rel="stylesheet"> #}{% endblock %}


{% block body_tag %}<body class="home">{% endblock %}
{% block content %}
    <header>
    	<div class="home-splash">
    		<figure>
    			<img 	src="theme/lil/images/header-splash-logo-ani@1x.gif"
    					srcset="theme/lil/images/header-splash-logo-ani@1x.gif 1x, 
    						theme/lil/images/header-splash-logo-ani@2x.gif 2x"
    					alt="Library Innovation Lab" />
    		</figure>
    		<h1 class="home-title">We’re building things in libraries.</h1>
    	</div>
    	{% include '_nav.twig' %}
	</header>

	<!-- comment -->
	
	<!-- about section -->
    <section class="container _about">
	    <h2 class="container-title">About</h2>
	    <div class="slice">
		    <h3 class="slice-hook">What’s the Library Innovation Lab?</h3>
		    <div class="slice-main">
			    <p>The Library Innovation Lab at Harvard University aims to bring the best of technology to the world of libraries and the best of libraries to the world of technology. And vice versa.</p>
			</div>
		</div>
		<a href="{{ paths.root }}about" role="button" aria-label="Learn more about who we are"><span>Learn more about who we are</span></a>
    </section>
    
    <!-- projects section -->
    <section class="container _projects">
	    <h2 class="container-title">Projects</h2>
	    
		{# include '_lil-hero-slider.twig' #}
	    
	    <div class="gallery">
	    	{% setcontent projects = 'projects' where {project_active: 1} %}
	    	{% for activeProject in projects %}
		    	<a class="gallery-item" href="{{ activeProject.link }}">
		    		<figure class="gallery-item-primaryImage">
						<img 	src={{ activeProject.thumbnail_image|thumbnail(400,300,"r") }}
								srcset="{{ activeProject.thumbnail_image|thumbnail(400,300,"r") }} 1x, 
									{{ activeProject.thumbnail_image|thumbnail(800,600,"r") }} 2x"
								alt="{{ activeProject.image.title }}" />
		    		</figure>
		    		<strong class="gallery-item-title">{{ activeProject.name }}</strong>
		    		<span class="gallery-item-logline">{{ activeProject.logline }}</span>
		    	</a>
	    	{% endfor %}
	    </div>
		<a href="{{ paths.root }}projects" role="button" aria-label="Browse all our active projects"><span>Browse all our active projects</span></a>
    </section>
    
    <!-- sketches section -->
    <section class="container _sketches">
		<h2 class="container-title">Sketches</h2>
	    <div class="slice">
		    <h3 class="slice-hook">OK, I've seen your projects. What’s a sketch?</h3>
		    <div class="slice-main">
			    <p>Before it’s a project it’s a sketch. Sketches are a way to get a handle on an idea and see where it goes. It’s what’s on our mind. Lend a hand if something here interests you, too.</p>
			</div>
		</div>

		<!-- div.gallery can get an '_alt' modifier that puts it into circular mode --> 
	    <div class="gallery _alt">
	        {% setcontent sketches = 'sketches' %}
	    	{% for thisSketch in sketches %}
	    		{% set thisStatusFlag = "" %}
                {% if thisSketch.project_active %} 
                    {% set thisStatus = "active" %}
                {% else %} 
                    {% set thisStatus = "inactive" %} 
                    {% set thisStatusFlag = "_inactive" %}
                {% endif %}
				<!-- a.gallery-item can get an '_inactive' modifier that puts it into inactive mode --> 
		    	<a class="gallery-item {{ thisStausFlag }}" href="{{ thisSketch.link }}">
		    		<figure class="gallery-item-primaryImage">
						<img 	src={{ thisSketch.image|thumbnail(216,216,"r") }}
								srcset="{{ thisSketch.image|thumbnail(216,216,"r") }} 1x, 
									{{ thisSketch.image|thumbnail(432,432,"r") }} 2x,
									{{ thisSketch.image|thumbnail(648,648,"r") }} 3x"
								alt="{{ thisSketch.image.title }}" />
		    		</figure>
		    		<strong class="gallery-item-title">{{ thisSketch.name }}</strong>
		    		<ul class="gallery-item-specs">
			    		<li class="gallery-item-specs-logline">{{ thisSketch.logline }}</li>
			    		<li class="gallery-item-specs-date">{{ thisSketch.datecreated|date("F j, Y") }}</li>
			    		<li class="gallery-item-specs-status">{{ thisStatus }}</li>
		    		</ul>
		    	</a>
	    	{% endfor %}
	    </div>
		<a href="{{ paths.root }}sketches" role="button" aria-label="See everything we’re sketching"><span>See everything we’re sketching</span></a>
	</section>
	
	{% include '_roundup.twig' %}
	
	
{% endblock %}

{% block extra_scripts %}<script src="{{ paths.theme }}javascripts/roundup.js"></script>{% endblock %} 