{% extends "base.html" %}

{% block body_tag %}<body class="category _projects">{% endblock %}
{% block content %}
    <header>
		{% include '_nav.twig' %}
    </header>
    <section class="container _intro">
	    <h1 class="intro-title">Projects</h1>
	    <div class="slice">
		    <h3 class="slice-hook">What’s a sketch?</h3>
		    <div class="slice-main">
			    <p>{{ category.sketches.description }}</p>
			</div>
		</div>
    </section>

    <section class="container">
		{% include '_lil-hero-slider.twig' %}
		<h2 class="container-title">Active Projects</h2>
		<p class="container-subtitle">What we’re doing now.</p>
	    <div class="gallery _alt">
	        {% setcontent projects = 'projects' orderby 'name' where {project_active: 1} %}
	    	{% for activeProject in projects %}
		    	<a class="gallery-item" href="{{ activeProject.link }}">
		    		<figure class="gallery-item-primaryImage">
	
		    			<!-- using srcset for reponsive density -->
			    		<img src="{{ activeProject.hero_image|thumbnail(350,174) }}" srcset="{{ activeProject.hero_image|thumbnail(350,174) }}, {{ activeProject.hero_image|thumbnail(700,348) }} 2x, {{ activeProject.hero_image|thumbnail(1400,696) }} 3x, {{ activeProject.hero_image|thumbnail(2800,1392) }} 4x" />
		    		</figure>
		    		<strong class="gallery-item-title"><a href="{{activeProject.link }}">{{ activeProject.name }}</a></strong>
		    		<span class="gallery-item-description">{{ activeProject.logline }}</span>
		    	</a>
	    	{% endfor %}
	    </div>
		<a href="{{ paths.root }}projects" role="button" aria-label="Browse all our active projects">Browse all our active projects</a>
	</section>
	
	<section class="container _sunset">
		<h2 class="container-title">Sunset Projects</h2>
		<p class="container-subtitle">Farewell, sweet friends.</p>
		
		{% setcontent projects = 'projects' orderby 'name' where {project_active: 0} %}
		{% for sunsetProject in projects %}
			<div class="sunset-entry">
				<div class="sunset-entry-date">{{ sunsetProject.daterange }}</div>
				<div class="sunset-entry-content">
					<strong class="sunset-entry-title">{{ sunsetProject.name }}</strong>
					<span class="sunset-entry-logline">{{ sunsetProject.logline }}</span>
				</div>
			</div>
		{% endfor %}

{% endblock %}