{% extends "base.html" %}
{% set footerLogoName = 'moire' %}

{% block body_tag %}<body class="category _projects">{% endblock %}
{% block pageTitle %}Projects | Library Innovation Lab{% endblock %}

{% setcontent thispage = 'page/projects' %}
{% set footerLogoImage = thispage.logo_image %}


{% block content %}
    <header>
		{% include '_nav.twig' %}
    </header>
    <section class="container _intro">
	    <h1 class="intro-title">Projects</h1>
	    <div class="slice">
		    <h3 class="slice-hook">What do we do?</h3>
		    <div class="slice-main">
			    <p>Projects are the heart of the Library Innovation Lab. We build things. Our projects attempt to make something — big or small — better, simpler, more transparent, or more fun.</p>
			</div>
		</div>
    </section>


    <section class="container">
		{# include '_lil-hero-slider.twig' #}
		<div class="headers">
			<h2 class="container-title">Active Projects</h2>
			<p class="container-subtitle">What we’re doing now.</p>
		</div>
	    <div class="gallery">
	        {% setcontent projects = 'projects' orderby 'name' where {project_active: 1} %}
	    	{% for activeProject in projects %}
		    	<a class="gallery-item" href="{{ activeProject.link }}">
		    		<figure class="gallery-item-primaryImage">
						<img 	src={{ activeProject.thumbnail_image|thumbnail(400,300,"r") }}
								srcset="{{ activeProject.thumbnail_image|thumbnail(400,300,"r") }} 1x, 
									{{ activeProject.thumbnail_image|thumbnail(800,600,"r") }} 2x"
								alt="{{ activeProject.image.title }}" />
		    		</figure>
		    		<strong class="gallery-item-title">{{ activeProject.name }}</strong>
		    		<span class="gallery-item-logline">{{ activeProject.logline }}</span>
		    	</a>
	    	{% endfor %}
	    </div>
	</section>
	
	<section class="container _sunset">
		<div class="headers">
			<h2 class="container-title">Sunset Projects</h2>
			<p class="container-subtitle">Farewell, sweet friends.</p>
		</div>
		
		<div class="sunset-entries">
			{% setcontent projects = 'projects' orderby 'name' where {project_active: 0} %}
			{% for sunsetProject in projects %}
				<div class="sunset-entry">
					<div class="sunset-entry-date">{{ sunsetProject.daterange }}</div>
					<div class="sunset-entry-content">
						<strong class="sunset-entry-title">{{ sunsetProject.name }}</strong>
						<span class="sunset-entry-logline">{{ sunsetProject.logline }}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}