{% extends "base.html" %}

{% block body_tag %}<body class="category _project">{% endblock %}
{% block content %}

{% set vars = {respond: {'tabletWidth': 350, 'wideWidth': 1400}} %}
{% set project = record %}
    <header>
    	{% include '_nav.twig' %}
    </header>

    
    <section class="container">
	    <nav class="intro-nav">
		    <a class="intro-nav-previous">Previous</a>
		    <a class="intro-nav-next">Next</a>
	    </nav>
	    <div class="intro-category">category</div>
	    <h1 class="intro-title">{{ project.name }}</h1>
	    <div class="slice">
		    <h3 class="slice-hook">What’s this project?</h3>
		    <div class="slice-main">
			    <p><a href="{{ project.website }}">{{ project.name }}</a></p>
			</div>
		</div>
	    <div class="slice">
		    <h3 class="slice-hook">What does it do?</h3>
		    <div class="slice-main">
			    <p>{{ project.logline }}</p>
			</div>
		</div>
	    <div class="slice">
		    <h3 class="slice-hook">Why does it exist?</h3>
		    <div class="slice-main">
			    <p>{{ project.description }}</p>
			</div>
		</div>
 		<a href="{{ project.github_repo }}" role="button" class="github" aria-label="{{ project.name }} on Github">{{ project.name }} on Github</a>

	    <!-- using <picture> element to art direct for wide/narrow screens -->
		<picture class="slider-slide-primaryImage">
			<!-- wide crop -->
			<source
				media="(min-width: {{ vars.respond.tabletWidth }}em)"
				srcset="{{ project.hero_image|thumbnail(350,174) }} {{ vars.respond.tabletWidth }}w,
				        {{ project.hero_image|thumbnail(700,348) }} {{ vars.respond.wideWidth }}w,
				        {{ project.hero_image|thumbnail(1400,696) }} {{ vars.respond.wideWidth * 2 }}w" />
			<!-- narrow crop -->
			<source
				srcset="{{ project.thumbnail_image|thumbnail(400,300) }} 1x,
				        {{ project.thumbnail_image|thumbnail(800,600) }} 2x" />
			<img
				src="{{ project.thumbnail_image|thumbnail(400,300) }}"
				alt="{{ project.image.title }}" />
		</picture>
		
		<div class="slice">
		    <h3 class="slice-hook">Who contributed to this project?</h3>
		    <div class="slice-main">
		        {% set relatedpeople = record.related('about') %}
			    {% for contributor in relatedpeople %}
			    	<a class="contributor" href="{{paths.root}}about#{{ contributor.slug }}">
			    		<figure class="contributor-primaryImage">
			    			<img src="{{ contributor.image|thumbnail(216,216) }}" srcset="{{ contributor.image|thumbnail(216,216) }}, {{ contributor.image|thumbnail(432,432) }} 2x, {{ contributor.image|thumbnail(648,648) }} 3x" alt="{{ contributor.name }}" />
			    		</figure>
		    			<strong class="contributor-name"><a href="{{paths.root}}about#{{ contributor.slug }}">{{ contributor.name }}</strong>
		    			<span class="contributor.role">{{ contributor.role }}</span>
			    	</a>
			    {% endfor %}
			</div>
		</div>
		
		{% set relatedrecords = record.related('news') %}
        {% if relatedrecords is not empty %}
		    <div class="slice">
			    <h3 class="slice-hook">What’s been written about this project?</h3>
			    <div class="slice-main">
				    {% for newsItem in relatedrecords %}
				    	<a class="news-item" href="{{ newsItem.news_link }}">
				    		<div class="news-item-category">{{ newsItem.category }}</div>
				    		<div class="news-item-content">
				    			<strong class="news-item-title">{{ newsItem.title }}</strong>
				    			<span class="news-item-date">{{ newsItem.date }}</span>
				    			{% if newsItem.publication|length %}
				    				<span class="news-item-publication">{{ newsItem.publication }}</span>
				    			{% endif %}
				    		</div>
				    	</a>
				    {% endfor %}
				</div>
			</div>
		{% endif %}
		
		<div class="slice">
			    <h3 class="slice-hook">How can I learn more?</h3>
			    <div class="slice-main">
			    	<p>If you’re interested in using {{ project.name }} or contributing to the project, check out the project’s <a href="{{ project.github.url }}">Github page</a> or contact us with this simple form.</p>
			    	{{ simpleform('contact') }}
			    </div>
		    </div>

{% endblock %}