{% extends "base.html" %}
{% set footerLogoName = 'tribal' %}

{% block body_tag %}<body class="category _project">{% endblock %}
{% block content %}

{% set vars = {respond: {'tabletWidth': 600, 'wideWidth': 1400}} %}
{% set project = record %}
{% setcontent projects = 'projects' orderby 'name' where {project_active: 1} %}
{% set first = projects|first %}
{% set last = projects|last %}
{% set previous = project.previous('name', {'project_active': 1}) %}
{% set next = project.next('name', {'project_active': 1}) %}
    <header>
    	{% include '_nav.twig' %}
    </header>

    <section class="container _intro">
	    <nav class="intro-nav">
		    <a class="intro-nav-previous" href="{% if previous %}{{previous.link}}{% else %}{{last.link}}{% endif %}">Previous project <span class="more">{% if previous %}{{previous.name}}{% else %}{{last.name}}{% endif %}</span></a>
		    <a class="intro-nav-next" href="{% if next %}{{next.link}}{% else %}{{first.link}}{% endif %}">Next project <span class="more">{% if next %}{{next.name}}{% else %}{{first.name}}{% endif %}</span></a>
	    </nav>
	    <div class="sleeve">
		    <h1 class="intro-title"><span>Project:</span> {{ project.name }}</h1>
		    <div class="slice">
			    <h3 class="slice-hook">Where can I find {{ project.name }}?</h3>
			    <div class="slice-main">
				    <a class="link-project" href="{{ project.project_website }}">{{ project.project_website }}</a>
				</div>
			</div>
		    <div class="slice _what">
			    <h3 class="slice-hook">What does {{ project.name }} do?</h3>
			    <div class="slice-main">
				    <p>{{ project.logline }}</p>
				</div>
			</div>
		    <div class="slice _why">
			    <h3 class="slice-hook">Why does {{ project.name }} exist?</h3>
			    <div class="slice-main">
				    {{ project.description }}
				</div>
			</div>
	 		<a href="{{ project.github_repo }}" role="button" class="github-button" aria-label="{{ project.name }} on Github"><span class="github-label">{{ project.name }} on Github</span></a>
	    </div>
    </section>
    <section class="container">
	    <!-- using <picture> element to art direct for wide/narrow screens -->
	    <div class="project-hero">
			<picture class="slider-slide-primaryImage">
	
				<!-- 16:9 for wide widths -->
				<source
					media="(min-width: {{ vars.respond.tabletWidth }}px)"
					srcset="{{ project.hero_image|thumbnail(800,450,'r') }} 800w,
			        	{{ project.hero_image|thumbnail(1200,675,'r') }} 1200w,
						{{ project.hero_image|thumbnail(1600,900,'r') }} 1600w" />
	
				<!-- square for narrow widths -->
				<source
					srcset="{{ project.hero_image_square|thumbnail(400,400,'r') }} 1x,
			        	{{ project.hero_image_square|thumbnail(800,800,'r') }} 2x" />
				<img
					src="{{ project.hero_image_square|thumbnail(400,400,'r') }}" 
					alt="{{ project.image.title }}" />
			</picture>
	    </div>
		
		<div class="slice _contributors">
		    <div class="sleeve">
			    <h3 class="slice-hook">Who contributed to {{ project.name }}?</h3>
			    <div class="slice-main">
			    	<div class="gallery _alt">
				        {% set relatedpeople = record.related('about') %}
					    {% for contributor in relatedpeople %}
					    	<a class="contributor" href="{{paths.root}}about#{{ contributor.slug }}">
					    		<figure class="contributor-primaryImage">
					    			<img src="{{ contributor.image|thumbnail(216,216) }}" srcset="{{ contributor.image|thumbnail(216,216) }}, {{ contributor.image|thumbnail(432,432) }} 2x, {{ contributor.image|thumbnail(648,648) }} 3x" alt="{{ contributor.name }}" />
					    		</figure>
				    			<strong class="contributor-name">{{ contributor.name }}</strong>
				    			<span class="contributor-role">{{ contributor.role }}</span>
					    	</a>
					    {% endfor %}
					</div>
				</div>
		    </div>
		</div>
		
		{% set relatedrecords = record.related('news') %}
        {% if relatedrecords is not empty %}
		    <div class="slice _news">
		    	<div class="sleeve">
				    <h3 class="slice-hook">What’s been written about {{ project.name }}?</h3>
				    <div class="slice-main">
					    {% for newsItem in relatedrecords %}
					    	<a class="news-item _{{ newsItem.category|lower }}" href="{{ newsItem.news_link }}">
					    		<div class="news-item-category">{{ newsItem.category }}</div>
					    		<div class="news-item-content">
					    			<strong class="news-item-title">{{ newsItem.title }}</strong>
					    			<span class="news-item-date">{{ newsItem.date|date("F d, Y") }}</span>
					    			{% if newsItem.publication|length %}
					    				<span class="news-item-publication">{{ newsItem.publication }}</span>
					    			{% endif %}
					    		</div>
					    	</a>
					    {% endfor %}
					</div>
		    	</div>
			</div>
		{% endif %}
		
		<div class="slice _contact">
			<div class="sleeve">
			    <h3 class="slice-hook">How can I learn more?</h3>
			    <div class="slice-main">
			    	<p>If you’re interested in using {{ project.name }} or contributing to the project, check out the project’s <a href="{{ project.github.url }}">Github page</a> or contact us with this simple form.</p>
			    	{{ simpleform('contact') }}
			    </div>
			</div>
		</div>
	</section>

{% endblock %}