{% extends "base.html" %}

{% block body_tag %}<body class="category _sketch">{% endblock %}
{% set vars = {respond: {'tabletWidth': 600, 'wideWidth': 1400}} %}
{% set sketch = record %}
{% setcontent sketches = 'sketches' orderby 'name' where {project_active: 1} %}
{% set first = sketches|first %}
{% set last = sketches|last %}
{% set previous = sketch.previous('name', {'project_active': 1}) %}
{% set next = sketch.next('name', {'project_active': 1}) %}
{% block pageTitle %}{{ sketch.name }} | Sketches | Library Innovation Lab{% endblock %}
{% block facebookImage %}{{ paths.hosturl }}{{ sketch.thumbnail(648,648,"r") }}{% endblock %}
{% set footerLogoImage = sketch.logo_image %}


{% block content %}
    <header>
    	{% include '_nav.twig' %}
    </header>

    <section class="container _intro">
	    <nav class="intro-nav">
		    <a class="intro-nav-previous" href="{% if previous %}{{previous.link}}{% else %}{{last.link}}{% endif %}">Previous sketch <span class="more">{% if previous %}{{previous.name}}{% else %}{{last.name}}{% endif %}</span></a>
		    <a class="intro-nav-next" href="{% if next %}{{next.link}}{% else %}{{first.link}}{% endif %}">Next sketch <span class="more">{% if next %}{{next.name}}{% else %}{{first.name}}{% endif %}</span></a>
	    </nav>
	    <div class="sleeve">
		    <h1 class="intro-title"><span>Sketch:</span> {{ sketch.name }}</h1>
		    <div class="slice _what">
			    <h3 class="slice-hook">What does {{ sketch.name }} do?</h3>
			    <div class="slice-main">
				    <p>{{ sketch.logline }}</p>
				</div>
			</div>
		    <div class="slice _why">
			    <h3 class="slice-hook">Why does {{ sketch.name }} exist?</h3>
			    <div class="slice-main">
				    {{ sketch.description }}
				</div>
			</div>
			{% if sketch.github_repo is not empty %}
			 	<a href="{{ sketch.github_repo }}" role="button" class="github-button" aria-label="{{ sketch.name }} on Github"><span class="github-label">{{ sketch.name }} on Github</span></a>
		 	{% endif %}
	    </div>
    </section>

	{% set relatedpoints = sketch.related('sketch-points') %}
    {% if relatedpoints is not empty %}
		{% for point in relatedpoints %}
		    <section class="container _point">
				<div class="point-text">
					<div class="sleeve">
						<h3 class="point-hed">{{ point.hed }}</h3>
						<p class="point-subhed">{{ point.subhed }}</p>
						<div class="point-content">
							{{ point.content }}
						</div>
					</div>
				</div>
				<div class="point-image">
					<div class="sleeve">
			    		<figure class="point-primaryImage">
			    			<img src="{{ point.image|thumbnail(400,400) }}" srcset="{{ point.image|thumbnail(600,600) }}, {{ point.image|thumbnail(800,800) }} 2x, {{ point.image|thumbnail(1200,1200) }} 3x" alt="{{ point.name }}" />
			    		</figure>
					</div>
				</div>
		    </section>
		{% endfor %}
	{% endif %}

    <section class="container">
		
		<div class="slice _contact">
			<div class="sleeve">
			    <h3 class="slice-hook">How can I learn more?</h3>
			    <div class="slice-main">
			    	<p>If you’re interested in using {{ sketch.name }} or contributing to the sketch, {% if sketch.github_repo is not empty %}check out the project’s <a href="{{ sketch.github_repo }}">Github page</a> or {% endif %}contact us with this simple form.</p>
			    	{{ simpleform('contact') }}
			    </div>
			</div>
		</div>
	</section>

{% endblock %}